<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Data Pasien / Daftar Pasien</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Data Pasien</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-2">
            <label>Kata kunci pencarian</label>
            <input type="text" class="form-control" [(ngModel)]="filterValue">
          </div>
          <div class="col-md-2">
            <label>Urutan</label>
            <select class="form-control" [(ngModel)]="sortTypeSel" name="gendersel">
              <option *ngFor="let sf of sortType;" [value]="sf.value">{{sf.name}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label>Urutkan Berdasar</label>
            <select class="form-control" [(ngModel)]="sortParamSel" name="gendersel">
              <option *ngFor="let sf of sortParam;" [value]="sf.value">{{sf.name}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label>Cari berdasarkan</label>
            <select class="form-control" [(ngModel)]="searchFieldSel" name="gendersel">
              <option *ngFor="let sf of searchField;" [value]="sf.value">{{sf.name}}</option>
            </select>
          </div>
          <div class="col-md-1">
            <label> </label>
            <input type="button" value="Cari"  class="form-control" (click)="searchWithFilter()"/>
          </div>
          <div class="col-md-2">
            <label> </label>
            <input type="button" value="Tampilkan semua" class="form-control" (click)="searchWithoutFilter()"/>
          </div>
          <div class="col-md-1">
            <label>Ukuran</label>
            <select class="form-control" [(ngModel)]="size" name="gendersel">
              <option *ngFor="let sz of sizeOpt;" [value]="sz.value">{{sz.value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <tr class="table-info">
              <th scope="col">Nama</th>
              <th scope="col">Agama</th>
              <th scope="col">Tempat Lahir</th>
              <th scope="col">Tanggal Lahir</th>
              <th scope="col">Aksi</th>
            </tr>
            <tbody>
            <tr *ngFor="let patient of patienstList;">
              <td *ngIf="patient">{{patient.name}}</td>
              <td *ngIf="patient">{{patient.religion}}</td>
              <td *ngIf="patient">{{patient.placeOfBirth}}</td>
              <td *ngIf="patient">{{formatDate(patient.dateOfBirth)}}</td>
              <td *ngIf="patient">
                <div class="btn-group-vertical btn-group-xs align-middle">
                  <input type="button"
                         class="btn btn-success"
                         value="Detail" (click)="gotoDetails(patient)"/>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="pull-right">
            <input type="button" value="<<" class="btn btn-outline-success btn-sm" (click)="onClickPrevious()"/>
            {{page+1}}/{{maxpage}}
            <input type="button" value=">>" class="btn btn-outline-success btn-sm" (click)="onClickNext()"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
