<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Data Pemesanan / Daftar Pemesanan</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Daftar Pemesanan</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <tr class="table-info">
              <th>Nama Pasien</th>
              <th>Nama Pemesan</th>
              <th>Nomor Telefon</th>
              <th>Bukti Pembayaran</th>
              <th>Harga Perkiraan</th>
              <th>Lokasi</th>
              <th>Deskripsi</th>
              <th>Pintasan</th>
              <th>Status Transaksi</th>
            </tr>
            <tr *ngFor="let order of orderList;">
              <td>{{order.homecarePatientId.name}}</td>
              <td>{{order.homecarePatientId.idAppUser.frontName}} {{order.homecarePatientId.idAppUser.middleName}}
                {{order.homecarePatientId.idAppUser.lastName}}
              </td>
              <td>{{order.homecarePatientId.idAppUser.phoneNumber}}</td>
              <td>{{order.receiptPath}}</td>
              <td>{{order.predictionPrice}}</td>
              <td>({{order.locationLatitude}},{{order.locationLongitude}})<input type="button" value="Lihat Lokasi" class="btn btn-info btn-xs" (click)="goToOrderMap(order)"/></td>
              <td>{{order.transactionDescription}}</td>
              <td>
                <div class="btn-group-vertical btn-group-xs align-middle">
                  <input type="button" value="Assessment" class="btn btn-warning" (click)="goToAssessmentOrder(order)"/>
                  <input type="button" value="Assign Perawat" class="btn btn-info" (click)="assignCaregiver(order)"/>
                </div>
              </td>
              <td>
                <input type="button" class="btn btn-warning btn-xs"
                       value="{{order.transactionStatusId.status}}" (click)="goToEditTransaction(order)"/>
                <input type="button" class="btn btn-warning btn-xs"
                       value="abc" (click)="trialFirst()"/>
              </td>
              <!--<td><button type="button" value="edit" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#editModal">Edit</button></td>-->
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editModal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
