<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" *ngIf="orderObject">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Data Perawat / Daftar Perawat / Order Perawat</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Data Perawat Tersedia</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">

            <tr>
              <td class="align-middle">Nama Pasien</td>
              <td class="align-middle">{{orderObject.homecarePatientId.name}}</td>
            </tr>

            <tr>
              <td class="align-middle">Nama Pemesan</td>
              <td class="align-middle">{{orderObject.homecarePatientId.idAppUser.frontName}}
                {{orderObject.homecarePatientId.idAppUser.middleName}}
                {{orderObject.homecarePatientId.idAppUser.lastName}}
              </td>
            </tr>

            <tr>
              <td class="align-middle">Tanggal Kunjungan</td>
              <td class="align-middle">{{formatDate(orderObject.date)}}
              </td>
            </tr>

            <tr>
              <td class="align-middle">Kontak</td>
              <td class="align-middle">{{orderObject.homecarePatientId.idAppUser.phoneNumber}}</td>
            </tr>

          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">

      <div class="panel panel-default">
        <div class="panel-heading">Daftar Perawat</div>
        <div class="panel-body">

          <div class="row">
            <input type="date" class="form-control col-lg-4" [(ngModel)]="date" />
          </div>

          <div class="row">
            <input type="time" class="form-control col-lg-4" [(ngModel)]="time"   />
          </div>

          <div class="row">
            <input type="button" class="btn btn-success" value="Cari" (click)="searchClick()"/>
          </div>

          <table class="table table-hover">
            <tr class="table-info">
              <th>Nama Perawat</th>
              <th>Surat Tanda Registrasi</th>
              <th>Detail</th>
              <th>Ceklist</th>
            </tr>

            <tr *ngFor="let record1 of careGiverList;">
              <td class="align-middle">{{record1.frontName}} {{record1.middleName}} {{record1.lastName}}</td>
              <td class="align-middle">{{record1.registerNurseNumber}}</td>
              <td class="align-middle"><input type="button" value="detail" (click)="goToDetail(record1)"></td>
              <td class="align-middle">
                <input type="checkbox"
                       (change)="record1.readysubmit = !record1.readysubmit;onSubmitCaregiverItem(record1);"
                       [checked]="record1.readysubmit"/>
              </td>
            </tr>
          </table>
          <!--<input type="button" class="btn-primary" value="Submit Perawat" (click)="onSubmitCaregiver()">-->
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Perawat Terpilih</div>
        <div class="panel-body">
          <table class="table table-hover">
            <tr class="table-info">
              <th>Nama Perawat</th>
              <th>Surat Tanda Registrasi</th>
              <th>Aksi</th>
            </tr>
            <tr *ngFor="let record2 of orderObject.homecareTransactionCaregiverlistList;">
              <td class="align-middle">{{record2.caregiverName}}</td>
              <td class="align-middle">{{record2.registerNurseNumber}}</td>
              <td>
                <div class="btn-group-vertical btn-group-xs align-middle">
                  <input type="button" value="Delete" class="btn btn-warning"
                         (click)="deleteAssignedCaregiver(record2)"/>
                </div>
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
