<div class="jumbotron text-center">
  <h1>TiMedic </h1>
  <p class="lead">We Take Care You at Home</p>
  <div>
    <a class="btn btn-info" [routerLink]="['/register']">Register </a>
    <a class="btn btn-success" [routerLink]="['/login']">Login </a>
  </div>
</div>



<div class="row">
  <div class="col-md-4 jumbotron">
      <h3>Perawat</h3>
      <p align="justify">Perawat memberikan layanan perawatan dirumah beserta peralatannya kepada pasien untuk individu dan keluarga di rumah yang bertujuan untuk memulihkan dan mempertahankan secara maksimal tingkat kenyamanan dan kesehatan. Beberapa Layanan Yang diberikan seperti: <br>
            Homestay<br>
            Perawatan Luka diabetes<br>
            Pemasanganan selang makan dan selang kencing

      </p>
  </div>

  <div class="col-md-4 jumbotron">
      <h3>Cek Laboratorium</h3>
      <p align="justify">
        Pemeriksaan laboratorium Memberikan pelayanan dengan mengambil bahan atau sampel dari pasien dalam bentuk darah, dahak, air kencin, kerokan kulit, dan cairan tubuh lainnya dengan tujuan untuk menentukan diagnosis atau membantu menegakkan diagnosis penyakit. Pemeriksaan laboratorium tidak hanya dilakukan bagi individu yang sakit. Individu sehat yang rutin melakukan pemeriksaan laboratorium akan memperoleh banyak manfaat.
      </p>
  </div>

  <div class="col-md-4 jumbotron">
      <h3>Fisioterapi</h3>
      <p align="justify">
        Fisioterapi adalah proses merehabilitasi seseorang agar terhindar dari cacat fisik melalui serangkaian penilaian, diagnosis, perlakuan, dan aktivitas pencegahan. Ini bertujuan mengembalikan fungsi tubuh setelah terkena penyakit atau cedera. di peruntukkan untuk klien pasca stroke, parkinson, rehabilitasi ortopedis, paraplegia, osteoporosis, kekakuan otot, kekakuan sendi, nyeri pada bagian tubuh tertentu, kontraktur paska luka bakar, kekakuan fisik paska operasi.
      </p>
  </div>

</div>

