<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div *ngIf="user">

    <h2 class="page-header"> Your Account </h2>

    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">Username</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Phone Number</li>
        </ul>
      </div>
      <div class="col-md-4">
        <li class="list-group-item">{{user.username}}</li>
        <li class="list-group-item">{{user.email}}</li>
        <li class="list-group-item">{{user.phoneNumber}}</li>
      </div>
    </div>

    <br>

    <h2 class="page-header"> Profile </h2>

    <ul class="list-group">
      <li class="list-group-item"> Address : {{user.address}}</li>
      <li class="list-group-item"> First Name : {{user.frontName}}</li>
      <li class="list-group-item"> Middle Name : {{user.middleName}}</li>
      <li class="list-group-item"> Last Name : {{user.lastName}}</li>
      <li class="list-group-item"> Date of Birth : {{user.dateBirth}}</li>
    </ul>

  </div>
</div>
