<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" *ngIf="caregiver">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Data Perawat / Status Perawat</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Status Perawat</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">

            <tr>
              <td class="align-middle">Nama Perawat</td>
              <td class="align-middle">{{caregiver.frontName}} {{caregiver.middleName}} {{caregiver.lastName}}</td>
            </tr>

            <tr>
              <td class="align-middle">Email</td>
              <td class="align-middle">{{caregiver.email}}</td>
            </tr>

            <tr>
              <td class="align-middle">STR</td>
              <td class="align-middle">{{caregiver.registerNurseNumber}} <a [href]="caregiver.registerNurseNumberUrl"
                                                                            target="_blank" class="btn-info btn-sm">Lihat</a>
              </td>
            </tr>

            <tr>
              <td class="align-middle">SIPP</td>
              <td class="align-middle">{{caregiver.sipp}} <a [href]="caregiver.sippUrl" target="_blank"
                                                             class="btn-info btn-sm">Lihat</a></td>
            </tr>

          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="btn-group-vertical btn-group-lg align-middle">
            <input type="button" [ngClass]="{disabled:(caregiver.idCaregiverStatus.id == 1)}" class="btn btn-success"
                   value="Approve" (click)="updateCaregiver(caregiver,1)"/>
            <input type="button" [ngClass]="{disabled:(caregiver.idCaregiverStatus.id == 2)}" class="btn btn-warning"
                   value="Pending" (click)="updateCaregiver(caregiver,2)"/>
            <input type="button" [ngClass]="{disabled:(caregiver.idCaregiverStatus.id == 3)}" class="btn btn-danger"
                   value="Suspend" (click)="updateCaregiver(caregiver,3)"/>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
