<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Data Perawat / Daftar Perawat</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Daftar Perawat</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <tr class="table-info">
              <th>Name</th>
              <th>Alamat</th>
              <th>Tanggal Lahir</th>
              <th>Email</th>
            </tr>

            <tr *ngFor="let caregiver of careGiverList;">
              <td>{{caregiver.frontName}} {{caregiver.middleName}} {{caregiver.lastName}}</td>
              <td>{{caregiver.address}}</td>
              <td>{{caregiver.dobtext}}</td>
              <td>{{caregiver.email}}</td>
              <input type="button" value="edit" class="btn btn-outline-success btn-sm" (click)="openModal('editModal',caregiver)"/>
              <!--<td><button type="button" value="edit" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#editModal">Edit</button></td>-->
            </tr>
          </table>
          <div>
            <input type="button" value="<<" class="btn btn-outline-success btn-sm" (click)="onClickPrevious()"/>
            <input type="button" value=">>" class="btn btn-outline-success btn-sm" (click)="onClickNext()"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal id="editModal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Edit Perawat</h2>
      </div>
      <div class="modal-body" *ngIf="caregiverObj">
        <div class="panel-body">
          <div class="col-md-6">
            <form role="form">
              <h3>Nama Perawat</h3>
              <div class="form-group">
                <label>Nama Depan</label>
                <input class="form-control" placeholder="Nama Depan" [(ngModel)]="caregiverObj.frontName" name="caregiverObj.frontName" value="{{caregiverObj.frontName}}"/>
              </div>
              <div class="form-group">
                <label>Nama Tengah</label>
                <input class="form-control" placeholder="Nama Tengah" [(ngModel)]="caregiverObj.middleName" name="caregiverObj.middleName"  value="{{caregiverObj.middleName}}"/>
              </div>
              <div class="form-group">
                <label>Nama Belakang</label>
                <input class="form-control" placeholder="Nama Belakang" [(ngModel)]="caregiverObj.lastName" name="caregiverObj.lastName"  value="{{caregiverObj.lastName}}"/>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onItemEdit()">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</modal>

